<p>
  vehiculo-create works!
</p>

<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <form novalidate [formGroup]="vehiculoForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Placa</label>
              <input type="text"
                     class="form-control"
                     formControlName="placa">
            </div>
 
            <div class="form-group">
              <label>Tipo Vehiculo</label>
              <input type="text"
                     class="form-control"
                     formControlName="tipoVehiculo">
            </div>
          </fieldset>
 
          <button type="submit" class="btn btn-primary"  [disabled]="!vehiculoForm.valid" >Submit</button>
          <button type="button" class="btn btn-warning" (click)="redirectUserPage()">Cancel</button>
          <pre>{{vehiculoForm.value | json}}</pre>
        </form>
      </section>
    </div>
  </div>
</div>
