<p>
  vehiculo-create works!
</p>

<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <form class="form-horizontal" novalidate [formGroup]="vehiculoForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Placa</label>
              <input type="text"
                     class="form-control"
                     formControlName="placa" 
                     maxlength="6" 
                     placeholder="Digite la placa del vehiculo"
                     id="placa">
            </div>
 
            <div class="form-group" >
              <label for="tipoVehiculo">Tipo Vehiculo</label>
              <select id="tipoVehiculo" class="form-control"
              formControlName="tipoVehiculo">>
                  <option>CARRO</option>
                  <option>MOTO</option>                  
                </select>
             
            </div>

            <div class="form-group">
                <label>Cilindraje</label>
                <input type="number"
                       class="form-control"
                       formControlName="cilindraje">
            </div>

          </fieldset>
          
          <div *ngIf="condition; else elseBlock">...</div>

          <button type="submit" class="btn btn-primary"  [disabled]="!vehiculoForm.valid" name="ingresar" >Submit</button>
          <button type="button" class="btn btn-warning" (click)="redirectUserPage()">Cancel</button>
          
          <div id="mensaje">
          {{messageService}}
          </div>
          
          <pre>{{vehiculoForm.value | json}}</pre>

          
        </form>
      </section>
    </div>
  </div>
</div>
